<app-navbar></app-navbar>

<!--PAGE TITLE-->
<div class="jumbotron">
    <div class="row">
        <div>
            <h2>{{courseDetails.title}}</h2>
            <ul class="row">
                <li>
                    <i class="fas fa-calendar-week text-info"></i> {{courseDetails.estimated_duration}} Weeks
                </li>
                <li>
                    <i class="fas fa-play text-info"></i> {{courseDetails.modules.length}} Modules
                </li>
                <li>
                    <i class="fas fa-user-graduate text-info"></i> {{courseDetails.enrollments.length}} Students Enrolled
                </li>
            </ul>
            <div>
                <div>
                    <i class="fa-star text-warning mr-1" [ngClass]="{ 'fas' : score >=1, 'far' : score <1 }"></i>
                    <i class="fa-star text-warning mr-1" [ngClass]="{ 'fas' : score >=2, 'far' : score <2 }"></i>
                    <i class="fa-star text-warning mr-1" [ngClass]="{ 'fas' : score >=3, 'far' : score <3 }"></i>
                    <i class="fa-star text-warning mr-1" [ngClass]="{ 'fas' : score >=4, 'far' : score <4 }"></i>
                    <i class="fa-star text-warning mr-1" [ngClass]="{ 'fas' : score >=5, 'far' : score <5 }"></i>

                    <strong class="col-lg-8 col-md-8 col-12 text-success">{{score | number:'1.1-1'}}</strong>
                </div>
                <div>
                    <span class="text-secondary">{{courseDetails.courseReviews.length}} reviews</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!--PAGE CONTENT-->
<div class="container">
    <div class="row">

        <!--COURSE DETAILS SECTION-->
        <div class="col-md-8">
            <!--COURSE OVERVIEW CARD -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h4 class="m-0 font-weight-bold text-primary">Course Overview</h4>
                </div>
                <div class="card-body">
                    <p class="text-secondary">{{courseDetails.overview}}</p>
                </div>
            </div>

            <!--COURSE CURRICULUM CARD -->
            <div class="card shadow mb-4">
                <div class="card h-100">
                    <div class="card-header py-3">
                        <h4 class="m-0 font-weight-bold text-primary">Table of content</h4>
                    </div>

                    <!--COURSE MODULES-->
                    <div class="card-body">
                        <div class="card  border-left-info mb-4" *ngFor="let module of courseDetails.modules">
                            <!-- Card Header - Accordion -->
                            <!--i had to add 'd' afet '#' because browser didint accept a selector like '#41' and such-->
                            <a [attr.href]="'#d'+ module.id" class="d-block card-header py-3 collapsed " data-bs-toggle="collapse" role="button" aria-expanded="false" [attr.aria-controls]="d + module.id" style="text-decoration: none;">
                                <h6 class="m-0 font-weight-bold text-dark">{{module.moduleName}}</h6>
                            </a>
                            <!-- Card Content - Collapse -->
                            <div class="collapse" [id]="'d' + module.id">
                                <div class="card-body">
                                    <div class="item-lists">
                                        <div class="items">
                                            <div class="items-body" *ngFor="let lesson of module.lessons">
                                                <div class="items-body-content">
                                                    <span>{{lesson.lessonName}}</span>
                                                    <i class="fa fa-angle-right"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <!--INSTRUCTOR'S DETAILS CARD-->
            <div class="card shadow mb-4">
                <div class="card-body">
                    <div class="row">

                        <!-- INSTRUCTOR'S IMAGE-->
                        <div class="col-md-4 d-flex justify-content-center">
                            <div class="instructor-image">
                                <img [src]="courseDetails.instructor.photo" alt="instructor-image">
                                <ul>
                                    <li>
                                        <a [href]="courseDetails.instructor.facebook" *ngIf="courseDetails.instructor.facebook">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a [href]="courseDetails.instructor.linkedIn" *ngIf="courseDetails.instructor.linkedIn">
                                            <i class="fab fa-linkedin-in"></i> </a>
                                    </li>
                                    <li>
                                        <a [href]="courseDetails.instructor.github" *ngIf="courseDetails.instructor.github">
                                            <i class="fab fa-github"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!--INSTRUCTOR'S DESCRIPTION-->
                        <div class="col-md-8">
                            <h3 class="font-weight-bold text-dark">instructor name</h3>
                            <p class="text-secondary">
                                {{courseDetails.instructor.brief_Introduction}}
                            </p>
                        </div>

                    </div>
                </div>
            </div>

            <!--RATING OVERVIEW CARD-->
            <div class="card shadow mb-4">
                <div class="card-body">
                    <div class="row">

                        <!-- RATING OVERVIEW BOX-->
                        <div class="col-md-3 d-flex justify-content-center align-items-center">
                            <div class="justify-content-center">
                                <h1 class="display-4 font-weight-bold text-dark ml-2">{{score | number:'1.1-1'}}</h1>
                                <div>
                                    <i class="fa-star text-warning ml-1" [ngClass]="{ 'fas' : score >=1, 'far' : score <1 }"></i>
                                    <i class="fa-star text-warning ml-1" [ngClass]="{ 'fas' : score >=2, 'far' : score <2 }"></i>
                                    <i class="fa-star text-warning ml-1" [ngClass]="{ 'fas' : score >=3, 'far' : score <3 }"></i>
                                    <i class="fa-star text-warning ml-1" [ngClass]="{ 'fas' : score >=4, 'far' : score <4 }"></i>
                                    <i class="fa-star text-warning ml-1" [ngClass]="{ 'fas' : score >=5, 'far' : score <5 }"></i>
                                </div>
                            </div>
                        </div>

                        <!--RATING OVERVIEW BARS-->
                        <div class="col-md-9">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="small font-weight-bold">5 Stars<span class="float-right">{{fiveStarsPercent | number}}%</span></h4>
                                    <div class="progress mb-1">
                                        <div id="bar-rate-5" class="progress-bar bg-info" role="progressbar"></div>
                                    </div>
                                    <h4 class="small font-weight-bold">4 Stars <span class="float-right">{{fourStarsPercent | number}}%</span></h4>
                                    <div class="progress mb-1">
                                        <div id="bar-rate-4" class="progress-bar bg-success" role="progressbar"></div>
                                    </div>
                                    <h4 class="small font-weight-bold">3 Stars<span class="float-right">{{threeStarsPercent | number}}%</span></h4>
                                    <div class="progress mb-1">
                                        <div id="bar-rate-3" class="progress-bar bg-warning" role="progressbar"></div>
                                    </div>
                                    <h4 class="small font-weight-bold">2 Stars<span class="float-right">{{twoStarsPercent | number}}%</span></h4>
                                    <div class="progress mb-1">
                                        <div id="bar-rate-2" class="progress-bar bg-danger" role="progressbar"></div>
                                    </div>
                                    <h4 class="small font-weight-bold">1 Stars<span class="float-right">{{oneStarsPercent | number}}%</span></h4>
                                    <div class="progress mb-1">
                                        <div id="bar-rate-1" class="progress-bar bg-danger" role="progressbar"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!--REVIEW CARD SECTION-->
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Students reviews</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink" style="">
                            <div class="dropdown-header">Sort by:</div>
                            <a class="dropdown-item" (click)="sortReviewsByDate(courseDetails.courseReviews)">Upload date</a>
                            <a class="dropdown-item" (click)="sortReviewsByRate(courseDetails.courseReviews)">Rating</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body" *ngFor="let review of courseDetails.courseReviews">
                    <div class="row bg-light">
                        <div class="col-12">
                            <div class="review-header">
                                <img [src]="review.student.photo" alt="">
                                <div>
                                    <h6 class="text-dark">{{review.student.firstname}} {{review.student.lastname}}</h6>
                                    <p>{{review.review_date | date:'yyyy-MM-dd'}}</p>
                                </div>
                                <div class="review-stars">
                                    <i class="fa-star text-warning" [ngClass]="{ 'fas' : getStudentRating(review, courseDetails) >=1, 'far' : getStudentRating(review, courseDetails) <1 }"></i>
                                    <i class="fa-star text-warning" [ngClass]="{ 'fas' : getStudentRating(review, courseDetails) >=2, 'far' : getStudentRating(review, courseDetails) <2 }"></i>
                                    <i class="fa-star text-warning" [ngClass]="{ 'fas' : getStudentRating(review, courseDetails) >=3, 'far' : getStudentRating(review, courseDetails) <3 }"></i>
                                    <i class="fa-star text-warning" [ngClass]="{ 'fas' : getStudentRating(review, courseDetails) >=4, 'far' : getStudentRating(review, courseDetails) <4 }"></i>
                                    <i class="fa-star text-warning" [ngClass]="{ 'fas' : getStudentRating(review, courseDetails) >=5, 'far' : getStudentRating(review, courseDetails) <5 }"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <p>{{review.comment}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <!--LEAVE COMMENT AND RATE SECTION-->
            <div class="card shadow mb-4" *ngIf="isLoggedInStudent()">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Leave Comment</h6>
                </div>
                <div class="card-body">
                    <form (ngSubmit)="submitReview(courseDetails)">
                        <div class="mb-3">
                            <h6 class="small font-weight-bold">Rate this Course</h6>
                            <i id="my-rating-star-1" class="far fa-star text-warning rating-course-stars" (click)="rateThisCourse($event, courseDetails)"></i>
                            <i id="my-rating-star-2" class="far fa-star text-warning rating-course-stars" (click)="rateThisCourse($event, courseDetails)"></i>
                            <i id="my-rating-star-3" class="far fa-star text-warning rating-course-stars" (click)="rateThisCourse($event, courseDetails)"></i>
                            <i id="my-rating-star-4" class="far fa-star text-warning rating-course-stars" (click)="rateThisCourse($event, courseDetails)"></i>
                            <i id="my-rating-star-5" class="far fa-star text-warning rating-course-stars" (click)="rateThisCourse($event, courseDetails)"></i>
                        </div>

                        <div class="mb-3">
                            <h6 class="small font-weight-bold">Your Review</h6>
                            <textarea style="max-width: 100%;" name="review" id="my-review" cols="100%" rows="5" [(ngModel)]="reviewTxt"></textarea>
                        </div>
                        <button class="btn btn-info btn-sm" type="submit" [disabled]="reviewTxt.length < 3"> Submit Review </button>
                    </form>
                </div>
            </div>
        </div>

        <!--COURSE FEATURES  & ENROLL TO COURSE SECTION -->
        <div class="col-md-4">
            <div class="course-enroll">

                <!--INTRODUCTION VIDEO-->
                <div class="introduction-video">
                    <!-- Button trigger modal -->
                    <button class="trigger-video-btn" data-bs-toggle="modal" data-bs-target="#introductionVideo" (click)="playVideo()">
                                <img src="./assets/images/play.svg"/>
                            </button>
                    <!-- Modal -->
                    <div class="modal fade" id="introductionVideo" tabindex="-1" aria-labelledby="introductionVideoLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <video id="my-video" [src]="courseDetails.introduction_video" controls></video>
                                </div>

                                <div class="modal-footer justify-content-center">

                                    <!-- ENROLL BUTTON-->
                                    <div class="enroll" *ngIf="!isLoggedInStudent()">
                                        <button class="btn btn-info enroll-button" routerLink="/login" data-bs-dismiss="modal">Login to enroll</button>
                                    </div>
                                    <div class="enroll" *ngIf="isLoggedInStudent()">
                                        <button class="btn btn-info enroll-button" (click)="enroll()" data-bs-dismiss="modal">Enroll now ></button>
                                    </div>
                                    <div class="enroll">
                                        <button type="button" class="btn btn-primary enroll-button" style="width: 100px;" data-bs-dismiss="modal" (click)="pauseVideo()">Close</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- PRICE AND COURSE FEATURES-->
                <div class="price-features">
                    <div class="price">
                        <span>Course Price</span>
                        <br>
                        <strong class="text-danger">{{courseDetails.price | currency}}</strong>
                    </div>
                    <div class="features">
                        <h6>Course Features</h6>
                        <div class="features-icon">
                            <div>
                                <i class="fas fa-users"></i>{{courseDetails.enrollments.length}} Students
                            </div>
                            <div>
                                <i class="fas fa-clock"></i>{{courseDetails.estimated_duration}} Weeks
                            </div>
                            <div>
                                <i class="fas fa-sort-amount-up-alt"></i>{{courseDetails.difficulty}}
                            </div>
                            <div>
                                <i class="fas fa-stream"></i>{{courseDetails.modules.length}} Modules
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ENROLL BUTTON-->
                <div class="enroll" *ngIf="!isLoggedInStudent()">
                    <button class="btn btn-info enroll-button" routerLink="/login" (click)="enroll()">Login to enroll</button>
                </div>
                <div class="enroll" *ngIf="isLoggedInStudent()">
                    <button class="btn btn-info enroll-button" (click)="enroll()">Enroll now ></button>
                </div>
            </div>

        </div>
    </div>
</div>
<app-footer></app-footer>