<app-navbar></app-navbar>

<!--PAGE TITLE-->
<div class="jumbotron jumbotron-fluid">
    <h1 class="display-4"><span style="font-family: 'Pacifico', cursive;">Bright</span> 's Instructors</h1>
</div>


<!--PAGE CONTENT-->
<div class="container">
    <div class="row">



        <!--INSTRUCTORS CARD SECTION-->
        <div class="col-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <!--Search for Teachers-->
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-secondary text-white border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink" style="">
                            <div class="dropdown-header">Sort Options</div>
                            <a class="dropdown-item" href="#">Newest Instructor</a>
                            <a class="dropdown-item" href="#">Popular Instructor</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-6 mb-3">
                            <div class="card  h-100 py-2">
                                <div class="card-body">
                                    <div class="column ">

                                        <div class="row">
                                            <img class="col-lg-4 instructor-image" src="./assets/images/teacher.jpg" alt="Card image cap">
                                            <div class="col-lg-8 d-flex flex-column justify-content-around">
                                                <div>
                                                    <div class="text-lg font-weight-bold text-uppercase mb-1">
                                                        <a routerLink="/instructors/details" class="text-dark" style="text-decoration: none;">Instructor name</a>
                                                    </div>

                                                    <ul class="instructor-profession-icon-list">
                                                        <li>
                                                            <i class="fas fa-user-tie text-info"></i> Graphic Designer
                                                        </li>
                                                        <li>
                                                            <i class="fas fa-book text-info"></i> 25 Classes
                                                        </li>
                                                        <li>
                                                            <i class="fas fa-map-marker-alt text-info"></i> Tunis
                                                        </li>
                                                    </ul>
                                                </div>

                                                <ul class="instructor-social-icon-list">
                                                    <li>
                                                        <a href="#">
                                                            <i class="fab fa-facebook-f"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fab fa-linkedin-in"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fab fa-twitter"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="mt-3">
                                            <p>
                                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure vitae sunt est reiciendis in! Esse soluta quisquam provident blanditiis sequi.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 mb-3">
                            <div class="card  h-100 py-2">
                                <div class="card-body">
                                    <div class="column ">

                                        <div class="row">
                                            <img class="col-lg-4 instructor-image" src="./assets/images/teacher.jpg" alt="Card image cap">
                                            <div class="col-lg-8 d-flex flex-column justify-content-around">
                                                <div>
                                                    <div class="text-lg font-weight-bold text-uppercase mb-1">
                                                        <a routerLink="/instructors/details" class="text-dark" style="text-decoration: none;">Instructor name</a>
                                                    </div>

                                                    <ul class="instructor-profession-icon-list">
                                                        <li>
                                                            <i class="fas fa-user-tie text-info"></i> Graphic Designer
                                                        </li>
                                                        <li>
                                                            <i class="fas fa-book text-info"></i> 25 Classes
                                                        </li>
                                                        <li>
                                                            <i class="fas fa-map-marker-alt text-info"></i> Tunis
                                                        </li>
                                                    </ul>
                                                </div>

                                                <ul class="instructor-social-icon-list">
                                                    <li>
                                                        <a href="#">
                                                            <i class="fab fa-facebook-f"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fab fa-linkedin-in"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fab fa-twitter"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="mt-3">
                                            <p>
                                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure vitae sunt est reiciendis in! Esse soluta quisquam provident blanditiis sequi.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 mb-3">
                            <div class="card  h-100 py-2">
                                <div class="card-body">
                                    <div class="column ">

                                        <div class="row">
                                            <img class="col-lg-4 instructor-image" src="./assets/images/teacher.jpg" alt="Card image cap">
                                            <div class="col-lg-8 d-flex flex-column justify-content-around">
                                                <div>
                                                    <div class="text-lg font-weight-bold text-uppercase mb-1">
                                                        <a routerLink="/instructors/details" class="text-dark" style="text-decoration: none;">Instructor name</a>
                                                    </div>

                                                    <ul class="instructor-profession-icon-list">
                                                        <li>
                                                            <i class="fas fa-user-tie text-info"></i> Graphic Designer
                                                        </li>
                                                        <li>
                                                            <i class="fas fa-book text-info"></i> 25 Classes
                                                        </li>
                                                        <li>
                                                            <i class="fas fa-map-marker-alt text-info"></i> Tunis
                                                        </li>
                                                    </ul>
                                                </div>

                                                <ul class="instructor-social-icon-list">
                                                    <li>
                                                        <a href="#">
                                                            <i class="fab fa-facebook-f"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fab fa-linkedin-in"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fab fa-twitter"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="mt-3">
                                            <p>
                                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure vitae sunt est reiciendis in! Esse soluta quisquam provident blanditiis sequi.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>