<app-navbar></app-navbar>

<!--PAGE TITLE-->
<div class="jumbotron jumbotron-fluid">
    <h1 class="display-4"><span style="font-family: 'Pacifico', cursive;">Bright</span> 's Instructors</h1>
</div>


<!--PAGE CONTENT-->
<div class="container">
    <div class="row">



        <!--INSTRUCTORS CARD SECTION-->
        <div class="col-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <!--Search for Teachers-->
                    <input type="text" placeholder="Search ..." [(ngModel)]="name" (input)="filterByName(name)">
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-6 mb-3" *ngFor="let instructor of instructors">
                            <div class="card  h-100 py-2">
                                <div class="card-body">
                                    <div class="column ">

                                        <div class="row">
                                            <img *ngIf="instructor.photo" class="col-lg-4 instructor-image" [src]="instructor.photo" alt="Card image cap">
                                            <img *ngIf="!instructor.photo" class="col-lg-4 instructor-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqz2qz0us62Q27ytbxR-gxUS0NRqBGLuhL_A&usqp=CAU" alt="">
                                            <div class="col-lg-8 d-flex flex-column justify-content-around">
                                                <div>
                                                    <div class="text-lg font-weight-bold text-uppercase mb-1">
                                                        <a [routerLink]="['/instructors/details', instructor.id]" class="text-dark" style="text-decoration: none;">{{instructor.firstname}} {{instructor.lastname}} </a>
                                                    </div>

                                                    <ul class="instructor-profession-icon-list">
                                                        <li>
                                                            <i class="fas fa-user-tie text-info"></i> {{instructor.profession}}
                                                        </li>
                                                        <li>
                                                            <i class="fas fa-book text-info"></i> {{instructor.courses.length}} Classes
                                                        </li>
                                                        <li *ngIf="instructor.origin">
                                                            <i class="fas fa-map-marker-alt text-info"></i> {{instructor.origin}}
                                                        </li>
                                                    </ul>
                                                </div>

                                                <ul class="instructor-social-icon-list">
                                                    <li *ngIf="instructor.facebook">
                                                        <a [attr.href]="instructor.facebook">
                                                            <i class="fab fa-facebook-f"></i>
                                                        </a>
                                                    </li>
                                                    <li *ngIf="instructor.linkedIn">
                                                        <a [attr.href]="instructor.linkedIn">
                                                            <i class="fab fa-linkedin-in"></i>
                                                        </a>
                                                    </li>
                                                    <li *ngIf="instructor.github">
                                                        <a [attr.href]="instructor.github">
                                                            <i class="fab fa-github"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="mt-3">
                                            <p>
                                                {{instructor.brief_Introduction}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>