<div class="card h-100">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-info">Table of content</h4>
    </div>

    <!--COURSE MODULES-->
    <div class="card-body">
        <div class="card  border-left-info mb-4">
            <!-- Card Header - Accordion -->
            <a href="#module1" class="d-block card-header py-3 collapsed " data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="module1" style="text-decoration: none;">
                <h6 class="m-0 font-weight-bold text-dark">Collapsable Card Example</h6>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse" id="module1">
                <div class="card-body">
                    <div class="item-lists">
                        <div class="items">
                            <div class="items-body">
                                <div class="items-body-content">
                                    <span>Web Usabilty Testing</span>
                                    <i class="fa fa-angle-right"></i>
                                </div>
                                <div class="items-body-content">
                                    <span>Design of Everyday Things</span>
                                    <i class="fa fa-angle-right"></i>
                                </div>
                                <div class="items-body-content">
                                    <span>Practical Empathy: For Collaboration & Creativity in Your Work</span>
                                    <i class="fa fa-angle-right"></i>
                                </div>
                                <div class="items-body-content">
                                    <span>About Face: The Essentials of Interaction Design</span>
                                    <i class="fa fa-angle-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card  border-left-info mb-4">
            <!-- Card Header - Accordion -->
            <a href="#module2" class="d-block card-header py-3 collapsed " data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="module2" style="text-decoration: none;">
                <h6 class="m-0 font-weight-bold text-dark">Collapsable Card Example</h6>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse" id="module2">
                <div class="card-body">
                    <div class="item-lists">
                        <div class="items">
                            <div class="items-body">
                                <div class="items-body-content">
                                    <span>Web Usabilty Testing</span>
                                    <i class="fa fa-angle-right"></i>
                                </div>
                                <div class="items-body-content">
                                    <span>Design of Everyday Things</span>
                                    <i class="fa fa-angle-right"></i>
                                </div>
                                <div class="items-body-content">
                                    <span>Practical Empathy: For Collaboration & Creativity in Your Work</span>
                                    <i class="fa fa-angle-right"></i>
                                </div>
                                <div class="items-body-content">
                                    <span>About Face: The Essentials of Interaction Design</span>
                                    <i class="fa fa-angle-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card  border-left-info mb-4">
            <!-- Card Header - Accordion -->
            <a href="#module3" class="d-block card-header py-3 collapsed " data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="module3" style="text-decoration: none;">
                <h6 class="m-0 font-weight-bold text-dark">Collapsable Card Example</h6>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse" id="module3">
                <div class="card-body">
                    <div class="item-lists">
                        <div class="items">
                            <div class="items-body">
                                <div class="items-body-content">
                                    <span>Web Usabilty Testing</span>
                                    <i class="fa fa-angle-right"></i>
                                </div>
                                <div class="items-body-content">
                                    <span>Design of Everyday Things</span>
                                    <i class="fa fa-angle-right"></i>
                                </div>
                                <div class="items-body-content">
                                    <span>Practical Empathy: For Collaboration & Creativity in Your Work</span>
                                    <i class="fa fa-angle-right"></i>
                                </div>
                                <div class="items-body-content">
                                    <span>About Face: The Essentials of Interaction Design</span>
                                    <i class="fa fa-angle-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card  border-left-info mb-4">
            <!-- Card Header - Accordion -->
            <a href="#module4" class="d-block card-header py-3 collapsed " data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="module4" style="text-decoration: none;">
                <h6 class="m-0 font-weight-bold text-dark">Collapsable Card Example</h6>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse" id="module4">
                <div class="card-body">
                    <div class="item-lists">
                        <div class="items">
                            <div class="items-body">
                                <div class="items-body-content">
                                    <span>Web Usabilty Testing</span>
                                    <i class="fa fa-angle-right"></i>
                                </div>
                                <div class="items-body-content">
                                    <span>Design of Everyday Things</span>
                                    <i class="fa fa-angle-right"></i>
                                </div>
                                <div class="items-body-content">
                                    <span>Practical Empathy: For Collaboration & Creativity in Your Work</span>
                                    <i class="fa fa-angle-right"></i>
                                </div>
                                <div class="items-body-content">
                                    <span>About Face: The Essentials of Interaction Design</span>
                                    <i class="fa fa-angle-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>