<app-navbar></app-navbar>
<!--PAGE TITLE-->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-3">
                <img *ngIf="instructorDetails.photo" class="instructor-image" [src]="instructorDetails.photo" alt="instructor-image">
                <img *ngIf="!instructorDetails.photo" class="instructor-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqz2qz0us62Q27ytbxR-gxUS0NRqBGLuhL_A&usqp=CAU" alt="instructor-image">
            </div>

            <div class="col-12 col-lg-9">
                <div class="row">
                    <div class="col-12 text-light">
                        <h3 class="font-weight-bold">{{instructorDetails.firstname}} {{instructorDetails.lastname}} </h3>
                    </div>
                    <div class="col-12">
                        <span>{{instructorDetails.profession}}</span>
                        <span *ngIf="instructorDetails.origin">,{{instructorDetails.origin}}</span>
                    </div>

                    <ul class="col-12 instructor-social-icon-list">
                        <li *ngIf="instructorDetails.facebook">
                            <a [attr.href]="instructorDetails.facebook">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li *ngIf="instructorDetails.linkedIn">
                            <a [attr.href]="instructorDetails.linkedIn">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                        <li *ngIf="instructorDetails.github">
                            <a [attr.href]="instructorDetails.github">
                                <i class="fab fa-github"></i>
                            </a>
                        </li>
                    </ul>

                    <div class="col-12 mt-2">
                        <p>{{instructorDetails.brief_Introduction}}</p>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

<!--PAGE CONTENT-->
<div class="container">
    <div class="row">
        <div class="col-12 my-5" id="my-bio-courses-btns">
            <button id="my-courses-btn" class="btn btn-outline-info mr-2 active" (click)="showInstructorCourses()">Courses</button>
            <button id="my-bio-btn" class="btn btn-outline-info mr-2" (click)="showInstructorBio()">Biography</button>
        </div>

        <div id="instructor-courses-id" class="col-12">
            <div class="card shadow mb-4">
                <!-- Card Body -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-3 mb-3" *ngFor="let course of instructorDetails.courses">
                            <div class="card border-bottom-info h-100 py-2">
                                <div class="card-body">
                                    <div class="row align-items-center">

                                        <img class="col-12" [src]="course.course_image" alt="Card image cap" height="150px">
                                        <div class="col-12">
                                            <div class="text-lg font-weight-bold text-dark text-uppercase mb-1">
                                                <a [routerLink]="['/courses/details', course.id]" class="text-dark" style="text-decoration: none;">{{course.title}}</a>
                                            </div>
                                            <div>
                                                <div>
                                                    <i class="fa-star text-warning" [ngClass]="{ 'fas' : getCourseScore(course) >=1, 'far' : getCourseScore(course) <1 }"></i>
                                                    <i class="fa-star text-warning" [ngClass]="{ 'fas' : getCourseScore(course) >=2, 'far' : getCourseScore(course) <2 }"></i>
                                                    <i class="fa-star text-warning" [ngClass]="{ 'fas' : getCourseScore(course) >=3, 'far' : getCourseScore(course) <3 }"></i>
                                                    <i class="fa-star text-warning" [ngClass]="{ 'fas' : getCourseScore(course) >=4, 'far' : getCourseScore(course) <4 }"></i>
                                                    <i class="fa-star text-warning" [ngClass]="{ 'fas' : getCourseScore(course) >=5, 'far' : getCourseScore(course) <5 }"></i>

                                                    <strong class="col-lg-8 col-md-8 col-12 text-success">{{getCourseScore(course) | number:'1.1-1'}}</strong>
                                                </div>
                                                <span class="text-secondary">{{course.courseReviews.length}} reviews</span>
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                {{course.price | currency}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="instructor-biography-id" class="col-12 instructor-biography">
            <div class="row">
                <div *ngIf="instructorDetails.experience" class="col-12 card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Experience</h6>
                    </div>
                    <div class="card-body">{{instructorDetails.experience}} </div>
                </div>
                <div *ngIf="!instructorDetails.experience" class="col-12 card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Experience</h6>
                    </div>
                    <div class="card-body">
                        <div class="col-12 p-2">
                            <div class="card bg-secondary text-white shadow">
                                <div class="card-body">
                                    No Experience provided
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="instructorDetails.education" class="col-12 card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Education</h6>
                    </div>
                    <div class="card-body">{{instructorDetails.education}} </div>
                </div>
                <div *ngIf="!instructorDetails.education" class="col-12 card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Education</h6>
                    </div>
                    <div class="card-body">
                        <div class="col-12 p-2">
                            <div class="card bg-secondary text-white shadow">
                                <div class="card-body">
                                    No Education provided
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>